# Application
NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"

# Application URLs
APP_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000


# Admin Seed
ADMIN_NAME=Courier Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeThisStrongPassword


# Bcrypt
BCRYPT_SALT_ROUNDS=10


# JWT
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret


# Redis
REDIS_USER=default
REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=6379


# SMTP / Email
SMTP_USER=your_email@example.com
SMTP_PASSWORD=your_email_app_password
EMAIL_SENDER=your_email@example.com


# Stripe Payment
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key

STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
